################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################


/.vs

select_music.js

/google-home-notifier/music_source.csv
